/* .body,
html {
	scroll-snap-type: y mandatory;
} */



.inputForm {
	margin-top: 25px;
	margin-bottom: 25px;
	display: flex;
	justify-content: center;
}

.inputForm>input {
	padding: 15px;
	width: 250px;
	border-radius: 50px;
	/* border: none; */
	/* padding: 20px;
	width: 300px;
	color: white;
	background-color: rgba(0, 0, 0, 0.633); */
	text-align: center;
	border: 2px solid #6b26d9;
	font-size: 25px;
	backdrop-filter: blur(10px);
	outline: none;
	font-family: inherit;


}

/* ..inputForm>input::placeholder {
	color: white;
} */
.inputForm>input:focus {
	background-color: rgba(127, 29, 233, 0.071);
	border: none;
	border: 2px solid #6b26d9;

	/* color: white; */
}

.inputForm>button {
	padding: 5px;
	width: 70px;
	height: 70px;
	border-radius: 50px;
	border: 2px solid #6b26d9;
	outline: none;
	padding: 15px;
	text-align: center;
	/* border: 2px solid black; */
	font-size: 25px;
	backdrop-filter: blur(10px);
	font-family: inherit;

}

/* .placeholder {
	color: #65657b;
	left: 20px;
	line-height: 14px;
	pointer-events: none;
	position: absolute;
	transform-origin: 0 50%;
	transition: transform 200ms, color 200ms;
	top: 20px;
} */
/* .input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
	transform: translateY(-30px) translateX(10px) scale(0.75);
}
.input:not(:placeholder-shown)~.placeholder {
	color: var(--main-color)
}
.input:focus~.placeholder {
	color: var(--main-color);
} */


.contentSection {
	display: flex;
	/* width: 100vw; */
	/* flex-direction: row; */
	/* overflow: scroll; */
	/* white-space: nowrap; */
	/* overflow-x: hidden; */
	overflow-y: scroll;
	/* white-space: nowrap; */
	/* border: 2px solid red; */

}

.post {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin: 30px;
	/* width: 2000px; */
	height: 80vh;
	/* padding-left: 10px;
	padding-right: 10px; */
	width: 80vw;
	border-radius: 50px;
	border: 2px solid black;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* background-attachment: fixed; */
	scroll-snap-align: start;
	transition: 0.7s ease-in-out;
}

.post:hover {
	transform: scale(1.05);
	/* opacity: 0.8; */
}

.link{
	text-decoration: none;
}
.myH1 {
	width: 80%;
	border-radius: 10px 10px 0px 0px;
	/* border: 2px solid red; */
	text-decoration: none;
	/* font-style: none; */
	backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 0.537);
	color: black;
	/* color: green; */
}

.post>h3 {
	color: black;
	background-color: rgba(255, 255, 255, 0.619);
	font-weight: 400;

	padding: 15px;
	/* border: 2px solid yellow; */
	text-decoration: none;
	backdrop-filter: blur(5px);
	border-radius: 0px 0px 50px 50px;
}
.dateSpan {
	text-decoration: none;
	font-weight: 200;
	/* background-color: rgba(255, 255, 255, 0.619); */
	color: rgba(0, 0, 0, 0.857);
	/* backdrop-filter: blur(5px); */
	/* padding: 5px; */
}

.loadingDiv{
	width: 80vw;
	height: 62vh;
}
.loadingGif {
	/* border: 3px solid hotpink; */
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}