.body,
html {
	scroll-snap-type: y mandatory;
}

.contentSection {
	/* overflow: scroll; */
	/* white-space: nowrap; */
	/* overflow-x: hidden; */
	/* overflow-y: scroll; */
	/* white-space: nowrap; */
}

.inputForm {
	margin-top: 25px;
	margin-bottom: 25px;
	display: flex;
	justify-content: center;
}

.inputForm>input {
	padding: 15px;
	width: 250px;
	border-radius: 50px;
}

.inputForm>button {
	padding: 5px;
	width: 50px;
	border-radius: 50px;
	/* border: none; */
}

/* .placeholder {
	color: #65657b;
	left: 20px;
	line-height: 14px;
	pointer-events: none;
	position: absolute;
	transform-origin: 0 50%;
	transition: transform 200ms, color 200ms;
	top: 20px;
} */
/* .input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
	transform: translateY(-30px) translateX(10px) scale(0.75);
}
.input:not(:placeholder-shown)~.placeholder {
	color: var(--main-color)
}
.input:focus~.placeholder {
	color: var(--main-color);
} */

.post {
	margin: 30px;
	width: 800px;
	/* height: 500px; */
	border-radius: 50px;
	border: 2px solid red;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	scroll-snap-align: start;
	height: 80vh;
	width: 80vw;
	scroll-snap-align: start;
}