.body,
html {
  scroll-snap-type: y mandatory;
}

.inputForm {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.inputForm > input {
  padding: 15px;
  width: 250px;
  border-radius: 50px;
  text-align: center;
  border: 2px solid #6b26d9;
  font-size: 25px;
  backdrop-filter: blur(10px);
  outline: none;
  font-family: inherit;
}

.inputForm > input:focus {
  background-color: rgba(127, 29, 233, 0.071);
  border: none;
  border: 2px solid #6b26d9;
}

.inputForm > button {
  padding: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 2px solid #6b26d9;
  outline: none;
  padding: 15px;
  text-align: center;
  font-size: 25px;
  backdrop-filter: blur(10px);
  font-family: inherit;
}

.contentSection {
  display: flex;
  overflow-y: scroll;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 30px;
  height: 80vh;
  width: 80vw;
  border-radius: 50px;
  border: 2px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
  transition: 0.7s ease-in-out;
}

.post:hover {
  transform: scale(1.05);
}

.link {
  text-decoration: none;
}

.myH1 {
  width: 80%;
  border-radius: 10px 10px 0px 0px;
  text-decoration: none;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.537);
  color: black;
}

.post > h3 {
  color: black;
  background-color: rgba(255, 255, 255, 0.619);
  font-weight: 400;
  padding: 15px;
  text-decoration: none;
  backdrop-filter: blur(5px);
  border-radius: 0px 0px 50px 50px;
}

.dateSpan {
  text-decoration: none;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.857);
}

.loadingDiv {
  width: 80vw;
  height: 62vh;
}

.loadingGif {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

@media screen and (max-width: 480px) {
  .dateDiv {
    display: none;
  }

  .myH1 > h1 {
    font-size: 14px;
  }

  .post > h3 {
    font-size: 10px;
  }
}
