.header {
    background-color: #38006b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    /* width: 100%; */
}

.header>h1 {
    padding-left: 20px;
}

.flex>ul {
    display: flex;
    list-style: none;
}

.flex>ul>li {
    padding: 5px;
    cursor: pointer;
}

.flex>ul>li:hover {
    color: rgb(220, 220, 220);
    transform: scale(1.2);
    opacity: 0.8;
    transition: 1s;

}

.flex {
    /* border: 2px solid red; */
    width: 50%;
    height: 68px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.themeBtn {
    /* background-color: var(--lightGray-color);*/
    background-color: var(--bg-color);
    color: var(--main-color);
    border: none;
    outline: none;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.5);
    padding: 5px;
    height: 40px;
    width: 40px;
    font-size: 25px;
    border-radius: 50%;
    border-style: none;
    transition: 1s;
    /* border: 1px solid gray; */
}

.themeBtn:hover {
    transform: scale(1.1);
    opacity: 0.8;
}