

.darkMode {
  --bg-color: rgb(21, 32, 43);
  --main-color: white;
  --theme-color: #6b26d9;
  --lightGray-color: #273340;
  --trans-clr: rgba(0, 0, 0, 0.5);
}

.lightMode {
  --bg-color: rgb(214, 207, 207);
  --main-color: black;
  --theme-color: #1a8cd8;
  --lightGray-color: #e7e7e8;
  --trans-clr: rgba(255, 255, 255, 0.5);
}
/*  */
/* #root{
  height: 80vh;
} */